#brand-text {
    font-size: 32px;
    vertical-align: middle;
    padding-left: 10px;
}

main {
    display: flex;
    flex-direction: column;
}

h1 > span {
    font-weight: bold;
    font-style: italic;
}

#title {
    margin-top: 1em;
    text-align: center;
    font-size: 64px;
}

#title-icon {
    margin-bottom: 1em;
    text-align: center;
}

#main-buttons {
    text-align: center;
}

#main-buttons > * {
    width: 200px;
}