.center {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 74px;
    z-index: 1;
}

.brandText {
    font-size: 32px;
    vertical-align: middle;
    padding-left: 10px;
}

.brandLogo {
    filter: invert(100);
}

.navButtonsContainer {
    z-index: 2;
    display: none;
}

.navButton {
    width: 100px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    font-size: 32px;
}

.emphasis {
    font-weight: bold;
    font-style: italic;
}

.title {
    font-size: 1em;
    text-align: center;
    
}

.titleIcon {
    font-size: 80px;
    text-align: center;
}

.mainButtonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1em;
}

.mainButton {
    font-size: 0.3em;
    width: 200px;
    margin: 15px 15px;
}


@media (min-width: 360px) {
    .mainContainer {
        font-size: 32px;
    }
}

@media (min-width: 460px) {
    .navButtonsContainer {
        display: block;
    }

    .mainButtonsContainer {
        display: none;
    }

    .mainContainer {
        font-size: 54px;
    }
}

@media (min-width: 769px) {
    .mainContainer {
        font-size: 60px;
    }

    .titleIcon {
        font-size: 100px;
    }
}

@media (min-width: 1200px) {
    .mainContainer {
        font-size: 70px;
    }

    .titleIcon {
        font-size: 120px;
    }
}