.background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    font-size: 600px;
}

@keyframes slide-in-bottom {
    from {
        top: 100vh;
        opacity: 0;
    }
    to {
        top: 50vh;
        opacity: 0.2;
    }
}


.leftBook {
    position: absolute;
    left: -200px;
    top: 50vh;
    opacity: 0.2;
    animation-name: slide-in-bottom;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

@keyframes slide-in-top {
    from {
        top: -90vh;
        opacity: 0;
    }
    to {
        top: -40vh;
        opacity: 0.2;
    }
}

 .rightBook {
    position: absolute;
    right: -200px;
    top: -40vh;
    opacity: 0.2;
    animation-name: slide-in-top;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}