.background {
    position: fixed;
    left: 50vw;
    top: 50vh;
    z-index: -1;
    font-size: 600px;
}

@keyframes slide-in-bottom {
    from {
        bottom: 100vh;
        opacity: 0;
    }
    to {
        top: 50px;
        opacity: 0.2;
    }
}


.leftBook {
    position: absolute;
    left: -800px;
    top: 50px;
    opacity: 0.2;
    animation-name: slide-in-bottom;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

@keyframes slide-in-top {
    from {
        top: -100vh;
        opacity: 0;
    }
    to {
        top: -500px;
        opacity: 0.2;
    }
}

 .rightBook {
    position: absolute;
    left: 100px;
    top: -500px;
    opacity: 0.2;
    animation-name: slide-in-top;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}